[Desktop Entry]
Type=Application
TryExec=/home/quang/dsearch/build/dsearch
Exec=/home/quang/dsearch/build/dsearch
Icon=DSearch
Terminal=true
Categories=System;TerminalEmulator;

Name=DSearch
GenericName=Terminal
Comment=A fast, cross-platform, OpenGL terminal emulator
StartupNotify=true
StartupWMClass=DSearch
Actions=New;
X-Desktop-File-Install-Version=0.27
